<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Inserção</title>
    <meta charset="uft-8">
</head>

<body>
    <h1>Insira um novo Carro</h1>
    <br>
    <br>
    <hr>
    <form action="/processar_inserir_carro">
        <label for="num_serie">Número de Série:</label>
        <input type="text" name="num_serie">

        <label for="modelo">Modelo:</label>
        <input type="text" name="Modelo">
    
        <label for="marca">Marca:</label>
        <input type="text" name="marca">
    
        <label for="ano">Ano:</label>
        <input type="text" name="ano">

        <input type="submit" value="Inserir">
    </form>>
</body>
</html>