<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>inicio</title>
        <meta charset="uft-8">
    </head>

    <body>
        <h1>Inserir pessoa</h1>
        <br>
        <br>
        <form action="/inserir_jogo" method="post">
            ID: <input type="text" name="id"><br>
            Nome: <input type="text" name="nome"><br>
            Ano Lançamento: <input type="text" name="ano_lancamento"><br>
            Quantidade Estoque: <input type="text" name="qtd_estoque"><br>
            <input type="submit" value="Inserir">
        </form>
        <br>
        <a href="/listar_jogos">Cancelar</a>
    </body>
</html>