<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Listagem</title>
    <meta charset="uft-8">
</head>

<body>
    <h1>Carros Cadastrados</h1>
    <br>
    <br>
    <hr>
    {%for carro in lista:%}
        <strong>{{carro.numero_serie}}</strong> &nbsp; {{carro.modelo}} &nbsp; {{carro.marca}} &nbsp; {{carro.ano}} &nbsp; <a href="/processar_excluir_carro?num_serie={{carro.numero_serie}}">Excluir</a>
        <br>
        <hr>
    {%endfor%}
    <br>
    <a href="/inserir_carro">Inserir um novo carro</a>>
</body>
</html>